@model WebAndApiDemo.Models.News

@{
    ViewData["Title"] = "Slet nyhed";
}

<h1>Slet nyhed</h1>

<h3>Er du sikker på du ønsker at slette denne nyhed?</h3>
<div>
    <h4>Nyhed</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til oversigten</a>
    </form>
</div>
