@model IEnumerable<WebAndApiDemo.Models.News>

@{
    ViewData["Title"] = "Nyheder";
}

<h1>Nyheds oversigt</h1>

<p>
    <a asp-action="Create">Opret nyhed</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Vis nyhed</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
