@model IEnumerable<WebAndApiDemo.Models.NewsCategory>

@{
    ViewData["Title"] = "Kategorier";
}

<h1>Kategori oversigt</h1>

<p>
    <a asp-action="Create">Opret ny kategori</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
